name: CI - Databricks Pipeline Test

on:
  push:
    branches: [ "master" ]

jobs:
  databricks-ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Databricks CLI 
      run: pip install databricks-cli

    - name: Set Databricks env
      run: |
        echo "DATABRICKS_HOST=${{ secrets.DATABRICKS_HOST }}" >> $GITHUB_ENV
        echo "DATABRICKS_TOKEN=${{ secrets.DATABRICKS_TOKEN }}" >> $GITHUB_ENV

    - name: Update Repos
      run: |
        databricks repos update --repo-id 3520505619164006 --branch master

    - name: Run Databricks Job
      run: |
        echo "Triggering job..."
        databricks jobs run-now --job-id "${{ secrets.DATABRICKS_JOB_ID }}" 
        echo "Databricks Job finished."

